
.education-container_education div {
  box-sizing: border-box;
}

.education-container_education {
  
}

.education-container-last-tittle {

}

.education-tittle {
  
}

.education-institution {  

}

.education-img-tittle {  
  
}

.education-container-sub-tittle {  
  
}

.education-container-sub-education {  
  
}

.education-sub-tittle {  
  
}

.education-contaiber-institution {  
 
}

.education-sub-institution-link {  
  
}

.education-sub-institution {  
  
}

.education-img-sub-tittle {  
  
}

img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}