
input[type="range"] {
  -webkit-appearance: none;
  width: 200px;
  height: 10px;
  background: #8ea1ca;
  border-radius: 3px;
  /* box-shadow: 0 4px 10px 0 #dce7ff; */
  background-image: linear-gradient(#3778fe, #8bb0ff); 
  /* background-size: 0% 100%; */
  background-repeat: no-repeat;
}

 input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 0px;
  width: 0px;
  border-radius: 20%;
  background: #3b51f3;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #000000;
  transition: background .3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
} 

.label-porcentage {
  font-size: 10px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}