
.container-radio-conten {
  padding: 5px 5px;
  box-sizing: border-box;
}

.container-radio-conten label {
  font-size: 18px;
  font-weight: 900;
  margin-left: 5px;
  margin-bottom: 5px;
}

.container-radio {
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 2px;
  padding: 2px 2px;
  box-sizing: border-box;
}

.container-option-radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 3px 3px;
  box-sizing: border-box;
}