
button {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 2px;
  border-radius: 20% 20%;
  box-sizing: border-box;
  /* padding: 1rem; */
  height: 30px;
  margin: 5px 5px;
  min-width: 30px;
  border: 1px solid #000000;
  box-shadow: 0 0 1px 1px white, inset 0 0 1px 1px white;
  font-size: 18px;
  font-weight: 900;
}

button:active {
  transform: scale(0.9);
  box-shadow: 2px 2px 1px 0px transparent;
}