
.cp-profile-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-block: 30px 12px;
  padding-inline: 10px 10px;
  box-sizing: border-box;
  border: 2px double #31adff;
  box-shadow: 0 0 3px 3px #00548b, inset 0 0 3px 3px #78caff;
}

.cp-profile-user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.cp-profile-user-profile img {
  min-width: 40%;
  max-width: 70%;
  width: 100%;
  height: 200px;
  border-radius: 10px 10px;
  box-shadow: 0 0 3px 3px #1f1f1f;
}

.cp-profile-user-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
  font-size: 18px;
  font-weight: 900;
}

.cp-profile-user-info {
  padding-inline: 5px 5px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-sizing: border-box;
  width: 100%;
  font-size: 10px;
}
